.container{
	width: 100%;
	height: 100%;	
	padding: 20rpx;
}



//input
.input{
	border: 1rpx solid rgba(0, 0, 0, .1);
	padding:10rpx;
	border-radius: 20rpx;
}
.middle{
	width:200rpx;
}

//input

//btn
.button{
	border-radius: 20rpx;
	border: none;
	background-color:#25c7b6;
	color:#ffffff;
	font-size: 28rpx;
	&::after{
		border:none;
	}
}

//文字的样式
.text{
	color: rgb(0, 0, 0);
	padding:10rpx;
}
//容器的样式
.box-shadow{
	box-shadow: 0 1rpx 14rpx 0 rgba(0, 0, 0, .1);
}

.divide{
	margin: 30rpx auto;
}